<div class="card-header">
  <div class="row">
    <div class="col-1">
      <%= link_to todo_lists_path, class: "btn btn-dark" do %>
        <i class="fas fa-angle-left"></i>
      <% end %>
    </div>

    <div class="col-11">
      <div class="d-flex justify-content-between">
        <div>
            <h5 class="m-0">
              <b>Editing: <%= @todo_list.title.capitalize %></b>
            </h5>
        </div>
        <div>
          <%= link_to 'Show', @todo_list, class: "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div> 
</div>
<div class="card-body">
  <ul class="list-group">
    <%= render 'form', todo_list: @todo_list %>
  </ul>
</div> 
